<header class="site-header" role="banner">
  <div class="wrapper">
    <div class="site-title">
      <a href="{{ '/' | absolute_url }}">
        {% if site.logo %}
          <img src="{{ site.logo | relative_url }}" alt="{{ site.title }}">
        {% else %}
          {{ site.title }}
        {% endif %}
      </a>
    </div>
    <nav class="site-nav">
      <input type="checkbox" id="nav-trigger" class="nav-trigger">
      <label for="nav-trigger"><span class="menu-icon"></span><span class="menu-icon"></span><span class="menu-icon"></span></label>
      <div class="trigger">
        <ul>
          {% for nav in site.navigation %}
          <li class="nav-{{ nav.title | slugify }}">
            <a href="{{ nav.url | relative_url }}">{{ nav.title }}</a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </nav>
  </div>
</header>
